.main-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  flex: 1;
}

.question-content {
  margin-top: 1rem;
}

.question-card {
  margin: 1rem 0;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex-grow: 1;
}

.toolbar-button {
  margin-left: 1rem;
}

.question-title {
  display: flex;
  margin-left: 1rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.question-title .question-text {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  display: inline-block;
  max-width: 100%;
}

.question-type-select {
  margin-right: 16px;
}

.new-option {
  cursor: pointer;
}

.new-option span {
  cursor: pointer;
}

.option {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: visible;
}

.answer-form-field,
.question-text {
  width: 100%;
}

.new-option {
  color: rgba($color: #000, $alpha: 0.6);
}

.question-toolbar {
  background: none;
  display: flex;
  justify-content: right;
}

.upload-button {
  margin-bottom: 1rem;
}

.questionnaire-title {
  flex-grow: 1;
}
