@use "@angular/material" as mat;

.spacer {
  flex: 1 1 auto;
}

.button-icon {
  margin: 0 !important;
}

.header {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.header .button-icon {
  color: var(--mat-sys-on-primary);
}
