<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-list>
      <mat-list-item>
        <button
          mat-button
          [routerLink]="'/Doctor/patients'"
          routerLinkActive="active-button"
        >
          <mat-icon>personal_injury</mat-icon>
          <span>Patients</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button
          mat-button
          [routerLink]="'/Doctor/templates'"
          routerLinkActive="active-button"
        >
          <mat-icon>star</mat-icon>
          <span>Templates</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button
          mat-button
          [routerLink]="'/Doctor/constructor'"
          routerLinkActive="active-button"
        >
          <mat-icon>handyman</mat-icon>
          <span>Constructor</span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
