@use "@angular/material" as mat;

.sidenav-container {
  width: auto;
  height: 95vh;

  @include mat.sidenav-overrides(
    (
      container-shape: "full",

      container-background-color: var(--mat-sys-secondary-container),
      container-text-color: var(--mat-sys-on-secondary-container),
      content-background-color: var(--mat-sys-surface-container-lowest),
    )
  );
}
